table#hour_grid {
    border: 1px solid #000;
    width: 100%;
}

table#hour_grid >tbody> tr {
    border: 1px solid #000;
    text-align: center;
}

table#hour_grid >tbody> tr > th {
    border: 1px solid #000;
    text-align: center;
}

table#hour_grid >tbody > tr > td {
    border: 1px solid #000;
    text-align: center;
}